broadway/mpx/service/network/energyconnect/docs/WSParticipantInterfaceEventsPolled.wsdl.orig

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eservices.energyconnectinc.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://eservices.energyconnectinc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://eservices.energyconnectinc.com/">
      <s:element name="GetEventNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEventNotificationResult" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="eventNotificationCount" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="eventCollection" type="tns:EventCollection"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventNotifications" type="tns:EventNotifications"/>
        </s:sequence>
        <s:attribute name="Version" type="s:string"/>
      </s:complexType>
      <s:complexType name="EventNotifications">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventNotification" type="tns:ArrayOfEventNotification"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEventNotification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventNotification" nillable="true" type="tns:EventNotification"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventNotification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventID" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="EventCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ActionLevelCode" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="EventStartTimeUTC" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="EventEndTimeUTC" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="EventMaxEndTimeUTC" type="s:dateTime"/>
        </s:sequence>
      </s:complexType>
      <s:element name="SendEventNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="eventNotificationResponseCount" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="eventResponseCollection" type="tns:EventResponseCollection"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventResponseCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventNotificationResponses" type="tns:EventNotificationResponses"/>
        </s:sequence>
        <s:attribute name="Version" type="s:string"/>
      </s:complexType>
      <s:complexType name="EventNotificationResponses">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventNotificationResponse" type="tns:ArrayOfEventNotificationResponse"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEventNotificationResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventNotificationResponse" nillable="true" type="tns:EventNotificationResponse"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventNotificationResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventID" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="SiteCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="EventCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ActionLevelCode" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="EventStartTimeUTC" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="EventEndTimeUTC" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="EventMaxEndTimeUTC" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="SendEventNotificationResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendEventNotificationResponseResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEventNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventNotification"/>
  </wsdl:message>
  <wsdl:message name="GetEventNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventNotificationResponse"/>
  </wsdl:message>
  <wsdl:message name="SendEventNotificationResponseSoapIn">
    <wsdl:part name="parameters" element="tns:SendEventNotificationResponse"/>
  </wsdl:message>
  <wsdl:message name="SendEventNotificationResponseSoapOut">
    <wsdl:part name="parameters" element="tns:SendEventNotificationResponseResponse"/>
  </wsdl:message>
  <wsdl:portType name="WSParticipantInterfaceEventsPolledSoap">
    <wsdl:operation name="GetEventNotification">
      <wsdl:input message="tns:GetEventNotificationSoapIn"/>
      <wsdl:output message="tns:GetEventNotificationSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SendEventNotificationResponse">
      <wsdl:input message="tns:SendEventNotificationResponseSoapIn"/>
      <wsdl:output message="tns:SendEventNotificationResponseSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSParticipantInterfaceEventsPolledSoap" type="tns:WSParticipantInterfaceEventsPolledSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetEventNotification">
      <soap:operation soapAction="http://eservices.energyconnectinc.com/GetEventNotification" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEventNotificationResponse">
      <soap:operation soapAction="http://eservices.energyconnectinc.com/SendEventNotificationResponse" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSParticipantInterfaceEventsPolledSoap12" type="tns:WSParticipantInterfaceEventsPolledSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetEventNotification">
      <soap12:operation soapAction="http://eservices.energyconnectinc.com/GetEventNotification" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEventNotificationResponse">
      <soap12:operation soapAction="http://eservices.energyconnectinc.com/SendEventNotificationResponse" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSParticipantInterfaceEventsPolled">
    <wsdl:port name="WSParticipantInterfaceEventsPolledSoap" binding="tns:WSParticipantInterfaceEventsPolledSoap">
      <soap:address location="http://localhost/ECI/WSParticipantInterfaceEvents/WSParticipantInterfaceEventsPolled.asmx"/>
    </wsdl:port>
    <wsdl:port name="WSParticipantInterfaceEventsPolledSoap12" binding="tns:WSParticipantInterfaceEventsPolledSoap12">
      <soap12:address location="http://localhost/ECI/WSParticipantInterfaceEvents/WSParticipantInterfaceEventsPolled.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>